body {
	font-family: $font;
	padding-top: 57px;
	background-color: $background;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

flexbox-container {
	display: flex;
	justify-content: center;
}

h2 {
	position: relative;
	font-family: $fubuntu;
	/*color: white;*/
	font-size: 42px;
	text-align: center;
}

h4 {
	margin-top: 2px;
	position: relative;
	font-family: $fubuntu;
	color: $uiuc-orange;
	font-size: 22px;
	text-align: center;
}

h5 {
	padding: 20px;
	font-family: $fubuntu;
	color: $dark-blue;
	font-size: 18px;
	text-align: center;
}

.edit-profile-label {
	display: inline;
	text-align: left;
}

.edit-profile-font {
	font-family: $fubuntu;
	color: $dark-blue;
	font-size: 18px;
}

.edit-profile-box {
	height: 40px;
}

.modal-footer {
	border: none;
}
.ad-box {
	margin-top: 20px;
	padding: 10px;
	border: 2px solid $uiuc-orange;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.listing-img {
	max-width: 400px;
	max-height: 300px;
}

.listing-img-sm {
	max-width: 240px;
	max-height: 240px;
}

.no-blank-space {
	margin: 0;
	padding: 0;
}

.verified-text {
	font-size: 22px;
	padding: 8px 0px 8px 12px;
	max-width: 300px;
	color: $light-green;
	border-bottom: 2px solid $lt-gray;
}

.green-box {
	margin-top: 20px;
	padding: 10px;
	color: $light-green;
	border: 2px solid $light-green;
}

.red-box {
	margin-top: 20px;
	padding: 10px;
	color: $alert-red;
	border: 2px solid $alert-red;
}

.service-box {
	padding: 6px;
}

.green-banner {
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 300px;
	font-size: 30px;
	font-family: $fubuntu;
	padding-top: 5px;
	color: white;
	background-color: $light-green;
}

.btn-orange {
	padding: 0 20px;
	margin: 4px;
	min-width: 120px;
	height: 40px;
	background-color: white;
	font-family: $fubuntu;
	font-size: 18px;
	text-align: center;
	color: $uiuc-orange;
	border: 2px solid $uiuc-orange;
	border-radius: 5px;
}

.btn-blue {
	padding: 0 20px;
	margin: 4px;
	min-width: 120px;
	height: 40px;
	background-color: white;
	font-family: $fubuntu;
	font-size: 18px;
	text-align: center;
	color: $uiuc-blue;
	border: 2px solid $uiuc-blue;
	border-radius: 5px;
}

.btn-blue:hover {
	background-color: $uiuc-blue; //$transparent-uiuc-orange;
	color: white;
	@include transition-speed(0.2s);
}

.thin-divider {
	margin-top: 18px;
	margin-bottom: 18px;
	border-top: 1px solid $uiuc-blue;
}

.profile-text {
	font-size: 20px;
}

.btn-orange:hover {
	background-color: $uiuc-orange; //$transparent-uiuc-orange;
	color: white;
	@include transition-speed(0.2s);
}

.no-padding {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	max-width: none;
}

.footer {
	position: relative;
	bottom: 0;
	margin-top: 10px;
	width: 100%;
	min-height: 35px;
	h4 {
		font-size: 14px;
		padding-top: 10px;
		color: white;
		margin-bottom: 0;
	}
}

.hot-cities-cap {
	font-family: $fpaci;
	color: $uiuc-orange;
}

.desc {
	font-family: $fkalam;
}

/* CREATE AD PG */
.form-control {
	width: 85%;
}
.hostAdController{
    img{
        height: 300px;
        width: 300px;

    }
}
.input-group {
	margin: 0;
}

.obj-centered {
	margin: 0 auto;
}

/* INDEX */
.navbar {
	@include transition(0.3s);
	width:100%;
	.navbar-brand {
		@include transition(0.3s);
		font-family: $fpaci;
		font-size: 2.4rem;
	}
	.nav {
		.nav-button {
			@include transition(0.3s);
		}

		#profile-img {
			border-radius: 50%;
			height: 27px;
		}
	}
}

.how-works-text {
	padding-left: 15px;
	padding-right: 15px;
}

.open {
	background-color: $background;
}

.user-portrait {
	max-width: 300px;
	max-height: 300px;
	border-radius: 150px;
}

.nav-btn-top {
	font-size: 20px;
	@include transition(0.3s);
}

.brand-top {
	font-size: 25px;
	@include transition(0.3s);
}

.nav-top {
	background-color: $transparent-white;
	@include transition(0.3s);
}

/* LANDING PG */
header {
  	position: relative;
  	width: 100%;
  	min-height: auto;
  	background-position: center;
	text-align: center;
 	color: white;
  	.header-content {
    	position: relative;
    	text-align: center;
    	padding: 200px 15px 200px;
    	width: 100%;
      .header-content-inner {
          h1 {
              font-weight: 700;
              text-transform: uppercase;
              margin-top: 0;
              margin-bottom: 0;
          }
					hr {
              margin: 30px auto;
          }
          p {
              font-weight: 300;
              color: fade(white, 70%);
              font-size: 16px;
              margin-bottom: 50px;
          }
      }
  }
}

.canvas-stripe {
	background-image: url("../data/tile-stripe.png");
}

/*.canvas_white::before {
	-webkit-filter: url('#blur');
	filter: url('#blur');
	-webkit-filter: blur(5px);
	filter: blur(5px);
}*/

.canvas-white {
	position: relative;
	background-color: $transparent-white;
}

.canvas-orange {
	position: relative;
	background-color: $transparent-uiuc-orange;
}


.host-traveller {
	background-image: url("../data/DSC_0298_edited.JPG");
	background-size: 100% 100%;
	height: auto;
}

.landing-section {
	@extend .no-padding;
	position: relative;
	margin-top: 2px;
	height: auto;
	width: 100%;
}

.section-how-works {
	@extend .landing-section;
	background-color: $orange-background;
	color: white;
	p {
		color: white;
	}
}

.section-meet-people {
	@extend .landing-section;
	background-image: url("../data/DSC_0526_edited1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.section-explore {
	@extend .landing-section;
	background-image: url("../data/2015-02-21 38_edited.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.section-hot-cities {
	@extend .landing-section;
	img {
		width: 325px;
		height: 244px;
	}
	h3 {
		text-align: center;
		font-family: $fubuntu;
	}
}


.vertical-align {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.horizontal-align {
	position: absolute;
  	left: 50%;
  	transform: translateX(-50%);
}

/*section {
  padding: 100px 0;
}*/

.btnContainer {
	display: flex;
	justify-content: center;
}

.middle-bar {
	width: 80px;
	margin: 0 auto;
	border: 2px solid $uiuc-orange;
}

.btn-container {
	text-align: center;
}

.icon {
	width: 40px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.how-works-icon {
	font-size: 50px;
}

.thumb-img {
	margin: 5px 15px 0px 15px;
	width: 140px;
	height: auto;
	border-radius: 70px;
}

.caption {
	padding-top: 10px;
	color: $dark-gray;
}

.media-icon {
	color: white;
	font-size: 20px;
	padding: 15px;
	@include transition-speed(0.8s);
}

.media-icon:hover {
	color: white;
	background-color: $lt-gray;
	@include transition-speed(0.8s);
}

#bg-video {
	width: auto;
	min-width: 100%;
	height: auto;
	background-size: cover;
	z-index: -11;
}

.bg-video-container {
	@extend .no-padding;
	position: relative;
	width: 100%;
	max-height: 600px;
	overflow: hidden;
}

.title-container {
	width: 100%;
	/*min-width: 1200px;*/
	top: 120px;

	position: absolute;
}

.title {
	margin-top: 40px;
	font-size: 120px;
	color: white;
	text-align: center;
	font-family: $fleckerli;
	text-shadow: 0px 0px 30px $uiuc-orange;
}

.sub-title {
	font-size: 60px;
	color: white;
	font-family: $findieflower;
	text-shadow: 0px 0px 30px $uiuc-orange;
}

.custom-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
	input{
	    border: 0;
	    box-shadow: none;
	}
	button{
	    margin: 2px 0 0 0;
	    background: none;
	    box-shadow: none;
	    border: 0;
	    color: #666666;
	    padding: 0 8px 0 10px;
	    border-left: solid 1px #ccc;
	}
	button:hover{
	    border: 0;
	    box-shadow: none;
	    border-left: solid 1px #ccc;
	}
	.glyphicon-search{
	    font-size: 23px;
	}
}

.city-search {
	margin-top: 6px;
	select {
		width: 100%;
	}
}

.landing-heading {
	color: white;
}

/* SEARCH ADS */
#search-ads {
	#slide-up {

	}
	.modal-dialog {
		margin: 30px;
	}
	.modal-footer {
		border: none;
	}

	.room-type {
		margin-top: .5rem;
	}

	.ad {
		padding: 20px 0 10px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		background-color: white;
		box-shadow: .5px .5px 0px rgba(0, 0, 0, 0.1);
		margin: 10px;
	}
	.search {
		margin-top: 50px;
		margin-right: auto;
		margin-left: auto;
		width: 80%;
	}
	.section {
		margin-left: 70px;
	}
	.search-img {
		position: relative;
		.price {
			position: absolute;
			box-shadow: 1px 1px 1px rgba(0,0,0,.8);
			top: 80%;
			left: 50%;
			background-color: rgba(256,256,256,.9);
			padding-right: 3px;
			padding-left: 3px;
		}
	}
	img {
		height: 150px;
		width: 150px;
	}
	.navbar-fixed-side {
		/*margin-top: 20px;*/
		background-color:white;
		width: 40px;
		position: fixed;
		left: 5px;
		ul {
			margin: 20px 0;
			margin-left: -40px;
			text-decoration: none;
			list-style-type: none;
			li {
				text-align: center;
				i {
					color: $uiuc-blue;
				}
			}
		}
	}

}

#priceModal {
	input {
		width: 75%;
	}
	#low {
		float: right;
	}
}

.label-tag {
	font-size: 1.2em;
	display: inline-block;
	background-color: $uiuc-blue;
	margin: 2px;
}

/*profile page*/
.setRating{
    unicode-bidi: bidi-override;
    direction: rtl;
}
.setRating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.setRating > span:hover:before,
.setRating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.profile {
	ul {
		list-style-type: none;
	}
	.travel-history li, section {
		border-bottom: 1px solid rgba(0,0,0,.3);
	}
}

/*Create Host Ad Page*/
/*#room, #price {
	display: inline;
	width: 55% !important;
}*/

/*Host bio page*/
.hostBio {
	img {
		height: 150px;
		width: 170px;
	}
	.profile-img {
		height: 200px;
		width: 250px;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 768px) {
	#bg-video {
		display: none;
	}

	.bg-video-container {
		position: relative;
		width: 100%;
		height: 380px;
		overflow: hidden;
		background-image: url("../data/central-park.png");
		background-size: cover;
	}

	.jumbotron {
		input {
			margin-left: 10px;
			width: 95%;
		}
	}
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

	.title-container {
		top: 24px;
	}


	.title {
		margin-top: 18px;
		font-size: 60px;
		text-shadow: 0px 0px 30px $uiuc-orange;
	}

	.sub-title {
		margin-top: 10px;
		font-size: 34px;
	}

	.city-search {
		margin-top: 22px;
	}

	.how-works-icon {
		font-size: 30px;
	}

}

/*small*/
@media screen and (min-width: 768px) and (max-width: 992px) {

	.how-works-icon {
		font-size: 40px;
	}

	.bg-video-container {
		max-height: 460px;
	}

}
/*medium*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.how-works-icon {
		font-size: 50px;
	}

	.bg-video-container {
		max-height: 500px;
	}

	.title-container {
		top: 60px;
	}

	.title {
		margin-top: 40px;
		font-size: 80px;
		text-shadow: 0px 0px 30px $uiuc-orange;
	}

	.sub-title {
		margin-top: 20px;
		font-size: 40px;
	}

	.city-search {
		margin-top: 40px;
	}

}

/*large*/
@media screen and (min-width: 1200px) {
	.how-works-icon {
		font-size: 60px;
	}

	.bg-video-container {
		max-height: 600px;
	}

	.title-container {
		top: 80px;
	}

	.title {
		margin-top: 40px;
		font-size: 100px;
		text-shadow: 0px 0px 30px $uiuc-orange;
	}

	.sub-title {
		margin-top: 20px;
		font-size: 46px;
	}

	.city-search {
		margin-top: 40px;
	}

}

/* Traveller Search Page */

#traveller-search {
	background-image: url("../data/2015-02-21 15.42.29.jpg");
	background-size: 100% 100%;
}
