$font: 'Open Sans', sans-serif;
$orange         : #BD3613;
$orange-background : #EF7A5D;
$blue           : #2176C7;
$background : #F5F5F5;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;

$uiuc-blue: #606EB2;
$uiuc-orange: #F26322;
$dark-blue: #144057;
$deep-blue: #2c3f4d;
$light-gray: #f2f2f2;
$lt-gray: #dcdcdc;
$dark-gray: #756e6e;
$light-green: #41b866;

$transparent-uiuc-orange: rgba(232, 119, 34, 0.5);
$transparent-uiuc-blue: rgba(0, 32, 91, 0.5);
$transparent-dark-blue: rgba(0, 32, 91, 0.7);
$transparent-white: rgba(255, 255, 255, 0.5);
$fubuntu: 'Ubuntu', sans-serif;
$flobster: 'Lobster Two', cursive;
$fpaci: 'Pacifico', cursive;
$findieflower: 'Indie Flower', cursive;
