<div ng-controller='ListingDetailsController' class="container">
	<div class="row" style="margin-top: 10px; margin-bottom: 10px">
		<div class="col-sm-12 col-md-4">
			<img src="../data/isaac.jpg" class="user-portrait">
			<div class="col-sm-12 green-banner">
				<p>VERIFIED HOST</p>
			</div>
			<div class="col-sm-12 verified-text">
				<p>Payment Verified</p>
			</div>
			<div class="col-sm-12 verified-text">
				<p>Phone Verified</p>
			</div>
			<div class="col-sm-12 verified-text">
				<p>Address Verified</p>
			</div>
		</div>
		<div class="col-sm-12 col-md-8">
			<div class="row">
				<h2 class="col-sm-6" style="text-align: left">{{user.name}}</h2>
                <h5 class="col-sm-6" style="text-align: right">{{user.local.email}}</h5>
				<h3 class="col-sm-12 no-blank-space">{{user.location}}</h3>
				<section class="col-sm-12 ad-box">
					<h4 style="text-align: left">Me in a nutshell</h4>
					<p class="col-sm-6" style="font-size: 16px"><span style="font-weight: bold">Gender: </span>{{user.gender}} <br>
                    <span style="font-weight: bold">Age: </span> {{user.age}}</p>
					<p class="col-sm-6" style="font-size: 16px"><span style="font-weight: bold">Occupation: </span>{{user.occupation}}</p>
					<p class="col-sm-12" style="font-size: 16px"><span style="font-weight: bold">Self intro: </span>{{user.bio}}</p>
				</section>
				<section class="col-sm-12 ad-box">
					<h4 style="text-align: left">Welcome to my place</h4>
                    <p class="col-sm-6" style="font-size: 16px"><span style="font-weight: bold"> Address: </span> {{listing.address}}, {{listing.city}} </p>
                    <p class="col-sm-3" style="font-size: 16px"><span style="font-weight: bold"> Price: </span> ${{listing.price}} </p>
                    <p class="col-sm-3" style="font-size: 16px"><span style="font-weight: bold"> Room Type: </span> {{listing.roomType}} </p>
					<p class="col-sm-12" style="font-size: 16px"><span style="font-weight: bold"></span>{{listing.description}}</p>
					<p class="col-sm-12" style="font-size: 16px; font-weight: bold">Pictures:</p>
					<img class="col-sm-6 col-sm-offset-4 col-md-5 listing-img-sm" src="http://placehold.it/180x180" style="margin: 4px">
					<img class="col-sm-6 col-sm-offset-4 col-md-5 listing-img-sm" src="http://placehold.it/180x180" style="margin: 4px">
					<img class="col-sm-6 col-sm-offset-4 col-md-5 listing-img-sm" src="http://placehold.it/180x180" style="margin: 4px">
					<img class="col-sm-6 col-sm-offset-4 col-md-5 listing-img-sm" src="http://placehold.it/180x180" style="margin: 4px">
				</section>
				<section class="col-sm-12 ad-box">
					<h4 style="text-align: left">Live the local life</h4>
					<!-- use ng-repeat here -->

					<p class="col-sm-12" style="font-size: 16px" ng-repeat="activity in listing.activities"><span style="font-weight: bold">Activity:</span>{{activity}}<br>
					<img class="col-sm-12 listing-img" src="http://placehold.it/400x300" style="margin: 4px"></p>

				</section>
			</div>
			<button ng-click="requestToBook()" class="btn btn-lg btn-orange" style="margin-top: 20px">Request to Book</button>
	    <div class="col-sm-12" ng-show="requestSent">
	      <div class="green-box">{{requestSentText}}</div>
	    </div>
	    <div class="col-sm-12" ng-show="requestSentError">
	      <div class="red-box">{{requestSentText}}</div>
	    </div>
		</div>

	</div>

</div>
