<div ng-controller='ListingDetailsController' class="container">
	<div class="row" style="margin-top: 10px; margin-bottom: 10px">
		<div class="col-sm-12 col-md-4">
			<img src="../data/isaac.jpg" class="user-portrait">
			<div class="col-sm-12 green-banner">
				<p>VERIFIED HOST</p>
			</div>
			<div class="col-sm-12 verified-text">
				<p>Payment Verified</p>
			</div>
			<div class="col-sm-12 verified-text">
				<p>Phone Verified</p>
			</div>
			<div class="col-sm-12 verified-text">
				<p>Address Verified</p>
			</div>
		</div>
		<div class="col-sm-12 col-md-8">
			<div class="row">
				<h2 class="col-sm-12" style="text-align: left">{{user.name}}</h2>
				<h3 class="col-sm-12 no-blank-space">{{user.address}}</h3>
				<div class="col-sm-12">
					
				</div>
			</div>
		</div>
	</div>

</div>