<div ng-controller="ProfileController" class="container">
  <div class="row" style="margin-top: 10px; margin-bottom: 10px">
    <div class="col-sm-12 col-md-4">
      <img src={{profileImg}} class="user-portrait">
      <div class="col-sm-12 green-box" style="max-width: 300px">
        <h4 style="color: #41b866">OVERVIEW</h4>
        <p style="text-align: left; font-size: 20px;">{{user.name}}<br>{{user.age}}, {{user.gender}}</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="row">
        <h2 class="col-sm-12" style="text-align: left">My Profile</h2>
        <section class="col-sm-12 ad-box">

          <div class="form-group edit-profile-box" style="margin-top: 4px">
            <p for="name" class="col-md-3 edit-profile-font">Your name:</p>
            <div class="col-md-9">
              <p class="profile-text">{{user.name}}</p>
            </div>
          </div>

          <div class="form-group edit-profile-box" style="margin-top: 4px">
            <p for="gender" class="col-md-3 edit-profile-font">Your gender:</p>
            <div class="col-md-9">
              <p class="profile-text">{{user.gender}}</p>
            </div>
          </div>

          <div class="form-group edit-profile-box">
            <p for="location" class="col-md-3 edit-profile-font">Your location:</p>
            <div class="col-md-9">
              <p class="profile-text">{{user.location}}</p>
            </div>
          </div>

          <div class="form-group edit-profile-box">
            <p for="location" class="col-md-3 edit-profile-font">Your occupation:</p>
            <div class="col-md-9">
              <p class="profile-text">{{user.occupation}}</p>
            </div>
          </div>

          <div class="form-group edit-profile-box">
            <p for="location" class="col-md-3 edit-profile-font">Your age:</p>
            <div class="col-md-9">
              <p class="profile-text">{{user.age}}</p>
            </div>
          </div>

          <div class="form-group edit-profile-box">
            <p for="location" class="col-md-3 edit-profile-font">Brief Introduction:</p>
            <div class="col-md-9">
              <p class="profile-text">{{user.bio}}</p>
            </div>
          </div>

        </section>

        <h2 class="col-sm-12" style="text-align: left" ng-show="hasListings">My Listings</h2>
      <div ng-repeat="listing in listings">
        <section class="col-sm-12 ad-box">
            <a href="#/listingdetails/{{listing._id}}">Go to Listing!</a>
            <button ng-click=delete(listingID) class="text-right">X</button>

          <div class="form-group edit-profile-box">
            <p for="location" class="col-md-3 edit-profile-font">Trip description:</p>
            <div class="col-md-9">
            <!-- to be updated here -->
              <p class="profile-text">{{listing.description}}</p>
            </div>
          </div>

          <p class="col-xs-12 edit-profile-font">Pictures:</p>
          <div class="row">
            <img class="col-sm-6 col-sm-offset-4 col-md-5 listing-img-sm" ng-src="{{img1}}" style="margin: 4px">
            <img class="col-sm-6 col-sm-offset-4 col-md-5 listing-img-sm" ng-src="{{img2}}" style="margin: 4px">
            <img class="col-sm-6 col-sm-offset-4 col-md-5 listing-img-sm" ng-src="{{img3}}" style="margin: 4px">
          </div>

          <div ng-repeat="activity in listing.activities">
            <div class="form-group edit-profile-box">
              <p class="col-md-3 edit-profile-font">Activity:</p>
              <div class="col-md-9">
                <p class="profile-text">{{activity}}</p>
                <img class="col-sm-12 listing-img" src="http://placehold.it/400x300" style="margin: 4px">
                <input type="file" accept="image/*" image="image" resize-max-height="300" resize-max-width="250" resize-quality="0.6"/>
              </div>
            </div>
          </div>

          <div class="form-group edit-profile-box">
            <p for="location" class="col-md-3 edit-profile-font">Pending Travelers:</p>
            <div class="col-md-9">
              <p class="profile-text">{{pendingTravelersText}}</p>
            </div>
          </div>
        </div>
      </div>

        </section>
      <a href="#/edituserprofile"><button ng-click="edit()" class="btn btn-lg btn-orange" style="margin-top: 20px">Edit Profile</button></a>
    </div>
  </div>
</div>

