<div class="list" ng-controller='SignupController'>
  <div class="row">

    <div class="column">

        <!--<h1><i class="fa fa-sign-in" aria-hidden="true"></i> Signup</h1>-->
        <h1><i class="glyphicon glyphicon-user"></i> Signup</h1>
        <!-- LOGIN FORM -->
        <form>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" ng-model="user.email" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" ng-model="user.password" required>
            </div>

            <button ng-click="signup()" type="submit" class="btn btn-orange">Signup</button>
        </form>

        <hr>

        <p>Already have an account? <a href="#/login">Login</a></p>
        <p>Or go <a href="#/">home</a>.</p>

    </div>

  </div>
</div>
