<div ng-controller='TravellerSearchController' style="background-color: gray">
  <!--replaced with gray for now-->
  <header class="landing">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Ready for your next adventure?</h1>
            <hr>
            <p>Stay with locals and explore new cities off the beaten path</p>
            <div id="custom-search-input">
              <div class="input-group col-md-12">
                  <input type="text" class="form-control input-lg" placeholder="Choose a City..." ng-model="city"/>
                  <span class="input-group-btn">
                      <a href="#/searchads">
                        <button class="btn btn-info btn-lg" type="button" ng-click="chooseCity(city)">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                      </a>
                  </span>
                </div>
            </div>
        </div>
    </div>
  </header>
</div>
