<div ng-controller='TravellerSearchController' style="background-color: gray">
  <!--replaced with gray for now-->
  <header class="landing">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Ready for your next adventure?</h1>
            <hr>
            <p>Stay with locals and explore new cities off the beaten path</p>
            <div class="col-md-8 col-md-offset-2 city-search">
              <select class="form-control input-lg" ng-model="city" ng-options="city.name for city in cities" ng-change="chooseCity(city.name)"></select>
            </div>
        </div>
    </div>
  </header>
</div>
