// Insert your mixins
@mixin transition($seconds) {
	-webkit-transition: all $seconds ease;
	-moz-transition: all $seconds ease;
	-o-transition: all $seconds ease;
	-ms-transition: all $seconds ease;
}

@mixin transition-speed($sec) {
    transition: all $sec;
    -moz-transition: all $sec;
    -webkit-transition: all $sec;
    -o-transition: all $sec;
}
