<div class="list" ng-controller='LandingPageController'>
<!--     <header class="landing"> -->
<!--     <header>
      <div class="header-content">
          <div class="header-content-inner">
              <h1>Get the Local Experience</h1>
              <hr>
              <p>Stay with locals and explore new cities off the beaten path</p>
              <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Choose a City..." />
                    <span class="input-group-btn">
                      <a href="#/signup">
                        <button class="btn btn-info btn-lg" type="button">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                      </a>
                    </span>
                  </div>
              </div>
              <a href="#/landing/#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
          </div>
      </div>
    </header> -->
    <header class="bg-video-container">
        <video autoplay loop muted id="bg-video">
            <source src="data/nyc.mp4" type="video/mp4" />
        </video>
        <div class="title-container">
            <h1 class="title">LocalHost</h1>
            <h2 class="sub-title">Stay with Locals and Meet Travelers</h2>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="input-group">
                      <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" placeholder="Choose a City..." ng-model="city"/>
                            <span class="input-group-btn">
                                <a href="#/searchads">
                                  <button class="btn btn-info btn-lg" type="button" ng-click="chooseCity(city)">
                                    <i class="glyphicon glyphicon-search"></i>
                                  </button>
                                </a>
                            </span>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </header>





    <section class="section-meet-people" id="about" style="margin-top: 20px">
<!--         <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                    <a href="#landing/#services" class="page-scroll btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-sm-12 col-md-4" style="padding-top: 100px">
                <h2>Be the guide, meet new people</h2>
                <div btnContainer>
                    <a href="#landing/#services" style="text-decoration: none"><div class="btn-orange">How it works</div></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="canvas-white" style="height: 500px">
                    <h4 class="caption">CONNECTED WITH</h4>
                    <div class="icon" >
                        <img src="data/people-icon.png">
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <img class="thumb-img" src="data/alex.png">
                        <img class="thumb-img" src="data/zack.png">
                    </div>
                    <h4 class="caption" style="font-weight: bold">Alex    <------>    Zack</h4>
                    <div class="middle-bar"></div>
                    <h5>When I was traveling solo around Europe this summer, I used Couchsurfing to meet new people. Zack was at the weekly Couchsurfing event in Barcelona and I feel so lucky to have met him! I enjoyed our conversations about life, and he showed me the best shop to grab an authentic batido milkshake. After just a few short days of hanging in the city, I felt as though I had known him for years.</h5>
                </div>
            </div>
        </div>


    </section>

    <section class="section-explore" style="margin-top: 20px">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="canvas-white" style="height: 500px">
                    <h4 class="caption" style="color: white">STAYED WITH</h4>
                    <div class="icon" >
                        <img src="data/plane-icon.png">
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <img class="thumb-img" src="data/annie.png">
                        <img class="thumb-img" src="data/caitlyn.png">
                    </div>
                    <h4 class="caption" style="color: white; font-weight: bold">Annie    <------>    Caitlyn</h4>
                    <div class="middle-bar"></div>
                    <h5 style="color: white">Caitlyn is amazing! I loved spending time with her, and her openness and caring nature was so genuine and refreshing. When my suitcase didn't arrive until my second day, she was kind enough to loan me the comfiest pajamas to wear to sleep that first night, thank you again! A highlight of my trip includes celebrating her birthday with a dance party in the living room. Hope to see you again soon!</h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-4" style="padding-top: 100px">
                <h2>Explore the world with friends you never met</h2>
                <div btnContainer>
                    <a href="#landing/#services" style="text-decoration: none"><div class="btn-orange">Plan a trip</div></a>
                </div>
            </div>

        </div>
    </section>
<!--
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Sturdy Templates</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class="no-padding" id="portfolio">
        <h4>HOT CITIES</h4>
        <h4>UNDER CONSTRUCTION</h4>
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img ng-src="{{roomImg}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img ng-src="{{roomImg}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img ng-src="{{roomImg}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img ng-src="{{roomImg}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img ng-src="{{roomImg}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img ng-src="{{roomImg}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Download at Start Bootstrap!</h2>
                <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>
</div>
