<div class="list" ng-controller='LoginController'>
  <section class="container">
    <h1><span class="fa fa-log-in"></span> Login</h1>
    <!-- LOGIN FORM -->
    <form>
        <div class="row">
            <div class="form-group col-sm-11 col-md-6">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-11 col-md-6">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary" ng-click="login()">Login</button>
        </div>
    </form>

    <hr>

    <p>Need an account? <a href="/signup">Signup</a></p>
    <p>Or go <a href="#/landing">home</a>.</p>

    </form>
  </section>
</div>
