<section class="row">
    <div class="col-sm-4 profile-image text-center">
        <img src="profileimage.jpg"/>
    </div>
    <div class="col-sm-8">
        Congratulations on matching with _____________!<p>
        You are currently moving in on [date] to [date].<p>
        [insert description of host or room]<p>
            <div class="col-sm-4">
                <img src="exampleimage.jpg"/>
            </div>
            <div class="col-sm-4">
                <img src="exampleimage.jpg"/>
            </div>
            <div class="col-sm-4">
                <img src="exampleimage.jpg"/>
            </div>
            <div class="col-sm-3">
                <a href="#">See all images</a>
            </div>
    </div>
</section>
<p>
<div class="row text-center">
    <div class="col-sm-4"><a href="#" class="button">Contact Host</a></div>
    <div class="col-sm-4"><a href="#/awef/hostbio" class="button">Location Details</a></div>
</div>
