<div ng-controller='CreateHostAdController' id="search-ads">
  <div id="custom-search-input" class="search">
    <div class="input-group col-md-12">
        <input type="text" class="form-control input-lg" placeholder="{{city}}" ng-model="city" />
        <span class="input-group-btn">
            <a href="#/searchads">
              <button class="btn btn-info btn-lg" type="button" ng-click="changeCity(city)">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </a>
        </span>
      </div>
  </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side">
        <ul class="text-center">
          <li><a><i class="glyphicon glyphicon-search"></i></a></li> <br>
          <li role="separator" class="divider"></li>
          <li><a><i class="glyphicon glyphicon-home"></i></a></li> <br>
          <li role="separator" class="divider"></li>
          <li><a><i class="glyphicon glyphicon-calendar"></i></a></li> <br>
          <li role="separator" class="divider"></li>
          <li><a><i class="glyphicon glyphicon-star"></i></a></li> <br>
          <li role="separator" class="divider"></li>
          <li><a><i class="glyphicon glyphicon-usd"></i></a></li>
        </ul>
      </nav>
    </div>
    <section class="row">
      <div class="container-fluid">

      <div class="col-sm-10 col-md-10 col-lg-10">
        <div class="row ad">
          <div class="col-md-3 col-md-offset-1">
            <div class="row">
              <div class="col-md-12 search-img">
                <p class="price">$50/day </p>
                <img ng-src="http://i.imgur.com/MYCsJyAb.jpg">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p><b>Room Type: </b>Private Room</p>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12 search-img">
                <a href="#/hostbio"><h4>Name</h4></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h6>Bio</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,...</p>
              </div>
            </div>
          </div>
            <div class="col-md-3">
              <img src="http://i.stack.imgur.com/yEshb.gif">
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
